@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ubermove";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/ubermove/UberMove-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: ubermove;
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/ubermove/UberMove-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Black.ttf")
    format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-BoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-ExtraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Light.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-LightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-Thin.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("https://cdn.jsdelivr.net/gh/Aaron-p-saji/fonts@main/Poppins/Poppins-ThinItalic.ttf")
    format("truetype");
  font-weight: 100;
  font-style: italic;
}
